<h1>Log In</h1>
<div class="welcome-login">

<%= form_tag login_path do %>
  <%= label_tag :email_address %>
  <%= email_field_tag :email_address %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log Me In" %>
<% end %>

</div>
