<div class="order-container">
  <h2 class="heading">My Orders:</h2>
  <div class="orders-container">
    <% @orders.each do |order| %>
      <div class="order-card">
        <%= link_to "Order ID: #{order.id}", profile_order_path(order) %>
        <p>Created: <%= order.created_at %></p>
        <p>Last Update: <%= order.updated_at %></p>
        <p>Status: <%= order.status %></p> <!-- enums -->
        <p>Item Quantity: <%= order.item_quantity %></p>
        <p>Total: <%= order.total %></p>
      </div>
    <% end %>
  </div>
</div>
