<h2><%= @coupon.name %></h2>

<h3>Info</h3>
<% if @coupon.percent? %>
  <p><%= @coupon.amount %>% off</p>
<% elsif @coupon.dollar? %>
  <p><%= number_to_currency(@coupon.amount) %> off</p>
<% end %>

<%= @coupon.active %>
<% if @coupon.activated? %>
  <%= link_to "Deactivate", deactivate_dashboard_coupon_path, method: :patch %>
<% else %>
  <%= link_to "Activate", activate_dashboard_coupon_path, method: :patch %>
<% end %>

<%= link_to "Update Coupon", edit_dashboard_coupon_path(@coupon) %>

<% if @users.count == 0 %>
  <%= link_to "Delete Coupon", dashboard_coupon_path, method: :delete %>
<% end %>

<h3>Coupon used by: </h3>
<% @users.each do |user| %>
  <ul>
    <li><%= user.name %></li>
  </ul>
<% end %>
