<% if current_user %>
  <h2>Welcome back, <%= current_user.name %>, you've successfully logged in.</h2>
  <p>
  <ul id="profile-info">
    <li>Name: <%= current_user.name %>
    <li>Street Address: <%= current_user.street_address %>
    <li>City: <%= current_user.city %>
    <li>State: <%= current_user.state %>
    <li>Zip Code: <%= current_user.zip_code %>
    <li>Email Address: <%= current_user.email_address %>
  </ul>
  <%= link_to "Edit my profile" %>
</p>
<% else redirect_to "/public/404" %>
<% end %>
