<% if current_user %>

  <div class="order-card">
    <p>Name: <%= current_user.name %></p>
    <p>Street Address: <%= current_user.street_address %></p>
    <p>City: <%= current_user.city %></p>
    <p>State: <%= current_user.state %></p>
    <p>Zip Code: <%= current_user.zip_code %></p>
    <p>Email Address: <%= current_user.email_address %></p>
    <%= link_to "Edit Profile", edit_user_path(current_user), id: "button" %>
    <% if current_user.orders.first %>
    <%= link_to "My Orders", profile_orders_path, class: "browse-button" %>
    <% end %>
    <% else redirect_to "/public/404" %>
  </div>
<% end %>
