<h1>Welcome to Little Shop of Whiskeys!</h1>

<div class="about-site">
  <p>If you're a connoisseur of all thinkgs whiskey, this is the website for you! You can browse our various wares from Irish whiskey to Scotch whisky.</p>
</div>

<div class="welcome-login">
  <% if current_user %>
    <h3>Welcome, <%= current_user.name %></h3>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <h3>Log In</h3>
    <%= form_tag login_path do %>
    <%= label_tag :email_address %>
    <%= email_field_tag :email_address %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log Me In" %>
    <% end %>
    <%= link_to "Not a Member? Register Here", new_user_path %>
  <% end %>
</div>

<div class="welcome-nav-section">
  <h3>Browse</h3>
  <%= link_to "All Items", items_path %>
  <%= link_to "All Merchants", merchants_path %>
</div>

<div class="about-us">
  <h3>About Creators</h3>
  <%= link_to "Jeremy Bennett's Github", "https://github.com/JaxJafinPapau" %>
  <%= link_to "Ethan Grab's Github", "https://github.com/Stoovles" %>
  <%= link_to "Carrie Walsh's Github", "https://github.com/carriewalsh" %>
  <%= link_to "Matt Weiss's Github", "https://github.com/Matt-Weiss" %>
</div>
