<div class="items-container">
  <% @items.each do |item| %>
    <div class="item-card">
      <h2>ID: <%= item.id %></h2>
      <p><%= item.item_name %></p>
      <a href="<%=item_path(item)%>"><img src=<%= item.image_url %> class="small-image" alt="image of <%= item.item_name %>"></a>
      <br>
      <p>In Inventory: <%= item.inventory %></p>
      <p>Price: <%= number_to_currency(item.current_price.round(2)) %></p>
      <%= link_to 'Edit Item', edit_dashboard_item_path(item), id: "button" %>
      <% if item.enabled %>
        <%= link_to 'Disable Item', deactivate_dashboard_item_path(item), method: :patch, id: "button"%>
      <% else %>
        <%= link_to 'Enable Item', activate_dashboard_item_path(item), method: :patch, id: "button"%>
      <% end %>
      <% if item.quantity_sold == 0 %>
        <%= link_to 'Delete Item', dashboard_item_path(item), method: :delete, id: "button" %>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Add New Item', new_dashboard_item_path, class: "browse-button"%>
</div>
