<h1>Create New Item</h1>
<div class="welcome-login">

<!-- <div class="row"> -->
  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <%= form_for [:dashboard, @item], url: {action: "create"} do |f| %>
      <%= f.error_messages %>

      <%= f.label :item_name %>
      <%= f.text_field :item_name, :required => true%>

      <%= f.label :description %>
      <%= f.text_area :description, :required => true %>

      <%= f.label :image_url %>
      <%= f.url_field :image_url%>

      <%= f.label :current_price %>
      <%= f.text_field :current_price, :required => true %>

      <%= f.label :inventory %>
      <%= f.number_field :inventory, :required => true %>

      <%= f.submit "Create Item", id: "medium-button" %>

    <% end %>
</div>
  <!-- </div> -->
<!-- </div> -->
