<div class="merch-stats">
 <h2> Statistics </h2>
  <div class="top-merchants">
  <h5>Top 3 Merchants:</h5> <% @top.each do |merchant| %>
    <%= merchant.name %> -
    <%= number_to_currency(merchant.sum) %><br>
  <% end %><br>
  <h5>Biggest Orders:</h5> <% @orders.each do |order| %>
  ID: <%= order.id %> -
  <%= order.sum %> units<br>
  <% end %><br>
  </div>

  <div class="merchant-speed">
  <h5>Fastest Merchants:</h5> <% @fastest.each do |merchant| %>
      <%= merchant.name %> -
      <%= merchant.avg %><br>
    <% end %><br>
  <h5>Slowest Merchants:</h5> <% @slowest.each do |merchant| %>
      <%= merchant.name %> -
      <%= merchant.avg %><br>
    <% end %><br>
  </div>

  <div class="top-geographical">
  <h5>Top 3 States:</h5>
    <% @states.each do |relation| %>
    <%= relation.state %> -
    <%= relation.count %> orders<br>
  <% end %><br>
  <h5>Top 3 Cities:</h5> <% @citystates.each do |relation| %>
    <%= relation.citystate %> -
    <%= relation.count %> orders<br>
  <% end %><br>
  </div>
</div>

<div class="merchants-container">
  <% @merchants.each do |merchant| %>
  <div class="merchant-card">
    <h2><%= merchant.name %></h2>
    <p>Ships from: <%= merchant.city %>, <%= merchant.state %></p>
    <p>Member since: <%= merchant.created_at.to_date %>
    </div>
    <% end %>
</div>
