<% if current_user %>

<section class="statistics">
  <h2>Statistics</h2>
  <div class="five_most">
    <h3>Most Popular Items</h3>
    <% @popular_five.each do |item| %>
    <div class="popular">
      <a><img src=<%= item.image_url %> class="tiny-image" alt="image of <%= item.item_name %>"></a>
      <%= item.item_name %> -
      <%= item.quantity_sold %> bought
    </div>
    <% end %>
    <div class="percentage-sold">
      Total Items Sold: <%= current_user.total_quantity_sold %>
      <br>
      Percentage of Inventory Sold: <%= current_user.percentage_sold.round(2) %>%
    </div>
    Top 3 States -
    <% @top_3_states.each do |relation| %>
      <%= relation.state %>: <%= relation.sum %>
    <% end %>
  </div>

</section>


<br>
<%= link_to "Items Index", dashboard_items_path %>

  <div id='profile-info'>
    <p>Name: <%= current_user.name %></p>
    <p>Street Address: <%= current_user.street_address %></p>
    <p>City: <%= current_user.city %></p>
    <p>State: <%= current_user.state %></p>
    <p>Zip Code: <%= current_user.zip_code %></p>
    <p>Email Address: <%= current_user.email_address %></p>
  </div>

  <div class='pending-orders'>
    <% @orders.each do |order| %>
    <div class="order-card">
      <p><%= link_to "Order ID: #{order.id}", dashboard_order_path(order) %></p>
      <p>Ordered On: <%= order.created_at %></p>
      <p>Quantity: <%= @merchant.my_item_count(order) %></p>
      <p>Total Price: <%= @merchant.my_total(order) %></p>
    </div>
    <% end %>
  </div>


<% else redirect_to "/public/404" %>
<% end %>
