<% @orders.each do |order| %>
  <div class="admin-order-card">
    <h4>Order ID: <%= order.id %></h4>
    <%= link_to "Ordered by: #{order.user_name}", admin_user_path(order.user_id) %>
    <div class="order-info">
      <p>Created at: <%= order.created_at %></p>
      <p>status: <%= order.status %></p>
    </div>
    <% if order.status == 'packaged' %>
      <%= link_to "Ship Order", admin_order_path(order), method: :patch, id: "button"%>
    <% end %>
  </div>
<% end %>
