<div class="cart-container">
  <% if @cart.items.first %>
    <% @cart.items.each do |item| %>
      <div class="cart-card">
          <h3><%= item.item_name %></h3>
        <div class="image-container">
          <img src="<%= item.image_url%>" alt="image of <%= item.item_name %>" class="small-image">
        </div>
        <p><%= item.merchant_name %></p>
        <h4><%= item.current_price %></h4>
        <h5><%= @cart.contents[item.id.to_s] %></h5>
        <div class="total">
          <%= @cart.subtotal(item) %>
        </div>
      </div>
    <% end %>
    <div class="cart-card">
      <div class="total">
        Total: <%= @cart.cart_total %>
      </div>
    </div>
  <%= link_to 'Empty my cart', cart_path, method: :delete %>
<% else %>
  <div>Your Cart is empty!</div>
<% end %>
</div>
