<h3 class="heading">My Cart:</h3>
<div class="cart-container">
  <% if @cart.items.first %>
    <% @cart.items.each do |item| %>
      <div class="cart-card">
        <h3><%= item.item_name %></h3>
        <div class="image-container">
          <img src="<%= item.image_url%>" alt="image of <%= item.item_name %>" class="small-image">
        </div>
        <div class="cart-item-info">
          Merchant: <%= item.merchant_name %>
          <br>
          Current Price: <%= number_to_currency(item.current_price) %>
          <br>
          Quantity: <%= @cart.contents[item.id.to_s] %>
          <%= form_tag(cart_path(item_id: item.id), method: :patch) do %>
          <%= select_tag :quantity, options_for_select(0..item.inventory), selected: @cart.contents[item.id.to_s] %>
          <br>
          <br>
          <%= submit_tag 'Update Quantity', id: :button %>
          <br>
          <% end %>
        </div>
        <div class="total">
          <h4>Subtotal: <%= number_to_currency(@cart.subtotal(item)) %></h4>
          <%= link_to 'Remove Item', cart_path(update: :remove, item_id: item.id),  method: :patch, id: :button %>
        </div>
      </div>
    <% end %>
    <div class="cart-card">
      <div class="total">
        Total: <%= number_to_currency(@cart.cart_total) %>
        <% if session[:coupon] %>
          Discount Total: <%= number_to_currency(@cart.discount_total(session[:coupon])) %>
        <% end %>
      <% if !current_user %>
      <div class="login-register">
        Please <%= link_to 'Register', new_user_path, id: "button" %> or <%= link_to 'Log In', login_path, id: "button" %> to place your order.
      </div>
      <% else %>
      <div class="checkout">
        <%= button_to 'Check Out', profile_orders_path, method: :create, class: "browse-button" %>
        <%= form_tag(discount_cart_path, method: :patch) do %>
          <%= text_field_tag "Coupon code" %>
          <%= submit_tag "Add Coupon" %>
        <% end %>
      </div>
      <% end %>
    </div>
    </div>
  <%= link_to 'Empty my cart', cart_path, method: :delete, id: "button" %>
<% else %>
  <div>Your Cart is empty!</div>
<% end %>
</div>
