<h3 class="heading">My Cart:</h3>
<div class="cart-container">
  <% if @cart.items.first %>
    <% @cart.items.each do |item| %>
      <div class="cart-card">
        <h3><%= item.item_name %></h3>
        <div class="image-container">
          <img src="<%= item.image_url%>" alt="image of <%= item.item_name %>" class="small-image">
        </div>
        <div class="cart-item-info">
          Merchant: <%= item.merchant_name %>
          <br>
          Current Price: <%= number_to_currency(item.current_price) %>
          <br>
          <% if @cart.discounted?(session, item) %>
            Discounted Price: <%= number_to_currency(@cart.discount_price(item, session[:coupon])) %>
          <% end %>
          <br>
          Quantity: <%= @cart.contents[item.id.to_s] %>
          <%= form_tag(cart_path(update: :quantity, item_id: item.id), method: :patch) do %>
          <%= select_tag :quantity, options_for_select(0..item.inventory), selected: @cart.contents[item.id.to_s] %>
          <br>
          <br>
          <%= submit_tag 'Update Quantity', id: :button %>
          <br>
          <% end %>
        </div>
        <div class="total">
          <% if @cart.discounted?(session, item) %>
            Subtotal: <%= number_to_currency(@cart.discounted_subtotal(item, session[:coupon])) %>
          <% else %>
          <h4>Subtotal: <%= number_to_currency(@cart.subtotal(item)) %></h4>
          <% end %>

          <%= link_to 'Remove Item', cart_path(update: :remove, item_id: item.id),  method: :patch, id: :button %>
        </div>
      </div>
    <% end %>
    <div class="cart-card">
      <div class="total">
        Total: <%= number_to_currency(@cart.cart_total) %>
        <br>
        <% if session.key?("coupon") %>
        Discounted Total: <%= number_to_currency(@cart.discounted_cart_total(session[:coupon])) %>
        <% end %>
      <% if !current_user %>
      <div class="login-register">
        Please <%= link_to 'Register', new_user_path, id: "button" %> or <%= link_to 'Log In', login_path, id: "button" %> to place your order.
      </div>
      <% else %>
      <div class="checkout">
        <%= button_to 'Check Out', profile_orders_path, method: :create, class: "browse-button" %>
      </div>
      <% end %>
    </div>
    </div>

    <%= form_tag(cart_path(update: :coupon), method: :patch) do %>
    <%= select_tag :coupon, options_for_select(@merchant_coupons.insert(0, "Select a Coupon"))%>
    <br>
    <br>
    <%= submit_tag 'Update Coupon', id: :button %>
    <br>
    <% end %>


  <%= link_to 'Empty my cart', cart_path, method: :delete, id: "button" %>

  <% else %>

  <div>Your Cart is empty!</div>
<% end %>
</div>
