<div class="item-show-container">
  <div class="item-show">
    <h1><%= @item.item_name %></h1>
    <p><%= @item.description %></p>
    <div class="info-container">
      <img src="<%= @item.image_url%>" alt="image of <%= @item.item_name %>" class="large-image">
      <section class="info-section">
        <h4>Sold by: <%= @item.merchant_name %></h4>
        <h4><%= @item.inventory %> left in stock</h4>
        <h4><%= number_to_currency(@item.current_price) %></h4>
        <% if @item.avg_fulfill_time == 1 %>
        <h4>Usually ships in 1 day.</h4>
        <% elsif @item.avg_fulfill_time[0] == "n" %>
          <h4><%= @item.avg_fulfill_time %></h4>
        <% else %>
          <h4>Usually ships in <%= @item.avg_fulfill_time[0].split(" ")[0,2].join(" ") %></h4>
        <% end %>
      </section>
      <section class="button-section">
        <% if !current_admin? && !current_merchant? %>
          <%= button_to "Add to Cart", carts_path(item_id: @item.id) %>
        <% end %>

      </section>
    </div>
  </div>
</div>
