<% if current_admin? %>

  <div class='order-card'>
    <h3>Name: <%= @user.name %></h3>
    <p>Street Address: <%= @user.street_address %></p>
    <p>City: <%= @user.city %></p>
    <p>State: <%= @user.state %></p>
    <p>Zip Code: <%= @user.zip_code %></p>
    <p>Email Address: <%= @user.email_address %></p>
    <%= link_to "Upgrade to Merchant", admin_user_path(@user,update: :upgrade), method: :patch, id: "button" %>
  </div>

<% else redirect_to "/public/404" %>
<% end %>
