<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop3</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class=navbar>
      <%= link_to "Home", root_path %>
      <%= link_to "All Items", items_path %>
      <% if current_admin? %>
        <%= link_to "Merchants", admin_merchants_path, :class=>"nav-link" %>
      <% else %>
        <%= link_to "Merchants", merchants_path, :class=>"nav-link" %>
      <% end %>

      <% if !current_user %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Log In", login_path %>
        <%= link_to "My Cart: #{@cart.total_count}", cart_path %>
      <% end %>

      <% if current_user? %>
        <%= link_to "Profile", profile_path %>
        <%= link_to "Log Out", logout_path %>
        <%= link_to "My Cart: #{@cart.total_count}", cart_path %>
        <%= "Logged in as #{current_user.name}" %>
      <% end %>

      <% if current_merchant? %>
        <%= link_to "Log Out", logout_path %>
        <%= link_to "Dashboard", dashboard_path %>
        <%= "Merchant logged in as #{current_user.name}" %>
      <% end %>

      <% if current_admin? %>
        <%= link_to "Users", admin_users_path %>
        <%= link_to "Log Out", logout_path %>
        <%= link_to "Dashboard", admin_dashboard_path %>
        <%= "Admin logged in as #{current_user.name}" %>
      <% end %>
    </section>

    <% flash.each do |name, message| %>
      <div class='alert alert-<%= name %>', role="alert">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
