<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <section class=navbar>
    <%= link_to "Home", root_path %>
    <%= link_to "All Items", items_path %>
    <%= link_to "Merchants", merchants_path %>
    <%= link_to "Register", new_user_path %>
    <%= link_to "Log In", login_path %>
    <%= link_to "My Cart", cart_path %>
  </section>

  <body>
    <%= yield %>
  </body>
</html>
